a:link{
    color:white
  }


  a:visited{
    color:gray
  }

  body{
    background-image: url(https://media.istockphoto.com/id/1061592832/photo/starrs-in-outer-space-seamless-background-or-texture-illustration.jpg?s=170667a&w=0&k=20&c=Qp_TtRM8evHxUX3icJDRd63LV2MkSvSH0mQSH-TooZI=);
    color:white
  }